body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
}

h1 {
    color: #ff4747;
}

input, button {
    padding: 10px;
    margin: 5px;
}

button {
    background-color: #ff4747;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff0000;
}
